In [109]:
import pandas as pd

# Series y Dataframes

## Crear una serie

### Serie con index personalizado

In [110]:
psdg_players = pd.Series(
    ['Navas','Mbappe','Neymar','Messi'],
    index=[1,7,10,30]
)

In [111]:
psdg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

### Serie con index default

In [112]:
psdg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'])
psdg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

### Serie con diccionario JSON

In [113]:
dictionary = {1: 'Navas', 7:'Mbappe', 10:'Neymar', 30:'Messi'}
pd.Series(dictionary)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

## Slicing

In [114]:
# Funciona igual que Numpy
psdg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

## Dataframe Matricial

In [115]:
dictionary = {'jugador':['Navas','Mbappe','Neymar','Messi'],
 'altura':[183.0, 170.0, 170.0, 165.0],
 'goles':[2, 200, 200, 200]
}

### Dataframe con index personalizado

In [116]:
pd.DataFrame(dictionary, index=[1,7,10,30])

   jugador  altura  goles
1    Navas   183.0      2
7   Mbappe   170.0    200
10  Neymar   170.0    200
30   Messi   165.0    200

### Dataframe con index default

In [117]:
pd.DataFrame(dictionary)

  jugador  altura  goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

## Visualizar Ejes DataFrame

In [118]:
df_Players = pd.DataFrame(dictionary)
df_Players

  jugador  altura  goles
0   Navas   183.0      2
1  Mbappe   170.0    200
2  Neymar   170.0    200
3   Messi   165.0    200

#### Visualziar Data por Columnas

In [119]:
df_Players.columns

Index(['jugador', 'altura', 'goles'], dtype='object')

#### Visualizar Data por Indices

##### Indice default

In [120]:
df_Players.index

RangeIndex(start=0, stop=4, step=1)

##### Indice Personalizado

In [121]:
df_Players = pd.DataFrame(dictionary, index=[1,7,10,30])
df_Players.index

Int64Index([1, 7, 10, 30], dtype='int64')

# Reto
- Aplicar lo aprendido en clases con el JSON dado

In [122]:
dataframe_reto = {
'Jugador':['Luis Suárez','Jorge Molina', 'Antonio Puertas', 'Germán Sánchez', 'Luis Milla', 'Luís Manuel Arantes Maximiano'],
'Posición':['Delantero', 'Delantero', 'Centrocampista', 'Defensa', 'Centrocampista', 'Portero'],
'Número':[9, 23, 10, 6, 5, 1],
'Altura':[185.0, 187.0, 185.0, 187.0, 175.0, 190.0],
'Goles':[7, 7, 5, 2, 2, 0]
}

In [123]:
# Compruebo que el largo del JSON este bien en todos los arrays
for i in dataframe_reto:
    print(len(dataframe_reto[i]))

6
6
6
6
6

In [124]:
granadaCF_players = pd.DataFrame(dataframe_reto, index=dataframe_reto['Número'])
granadaCF_players

                          Jugador        Posición  Número  Altura  Goles
9                     Luis Suárez       Delantero       9   185.0      7
23                   Jorge Molina       Delantero      23   187.0      7
10                Antonio Puertas  Centrocampista      10   185.0      5
6                  Germán Sánchez         Defensa       6   187.0      2
5                      Luis Milla  Centrocampista       5   175.0      2
1   Luís Manuel Arantes Maximiano         Portero       1   190.0      0