In [1]:
import pandas as pd

# Apply

In [3]:
df_books = pd.read_csv('./data/bestsellers-with-categories.csv')

## Ejemplo 1

In [5]:
def two_times(value):
    return value * 2

In [9]:
df_books['Rating_2'] = df_books['User Rating'].apply(two_times)

In [11]:
df_books.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4

## Ejemplo 2

In [13]:
df_books['Rating_2'] = df_books['User Rating'].apply(lambda x: x*3)

In [15]:
df_books.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,14.1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,13.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,14.1

## Ejemplo 3

In [21]:
df_books['Rating 2'] = df_books.apply(lambda x: x['User Rating'] * 2 if x['Genre'] == 'Fiction' else x['User Rating'], axis=1)
df_books.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating_2,Rating 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,14.1,4.7
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,13.8,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,14.1,4.7